<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <!-- 编码过滤器 -->

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
      org.springframework.web.filter.CharacterEncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.xmj.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CusInfoServlet</servlet-name>
    <servlet-class>com.xmj.CusInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CusInfoServlet</servlet-name>
    <url-pattern>/CusInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatePwdServlet</servlet-name>
    <servlet-class>com.xmj.updatePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePwdServlet</servlet-name>
    <url-pattern>/updatePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadGdServlet</servlet-name>
    <servlet-class>com.xmj.loadGdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadGdServlet</servlet-name>
    <url-pattern>/loadGdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>offlineServlet</servlet-name>
    <servlet-class>com.xmj.offlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>offlineServlet</servlet-name>
    <url-pattern>/offlineServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.xmj.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/HomePage.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>addBookInfoServlet</servlet-name>
    <servlet-class>com.xmj.addBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookInfoServlet</servlet-name>
    <url-pattern>/addBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBookInfoServletAction</servlet-name>
    <servlet-class>com.xmj.addBookInfoServletAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookInfoServletAction</servlet-name>
    <url-pattern>/addBookInfoServletAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>findNoPayServlet</servlet-name>
    <servlet-class>com.xmj.findNoPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findNoPayServlet</servlet-name>
    <url-pattern>/findNoPayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payActionServlet</servlet-name>
    <servlet-class>com.xmj.payActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payActionServlet</servlet-name>
    <url-pattern>/payActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findPaidServlet</servlet-name>
    <servlet-class>com.xmj.findPaidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findPaidServlet</servlet-name>
    <url-pattern>/findPaidServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>refundServlet</servlet-name>
    <servlet-class>com.xmj.refundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refundServlet</servlet-name>
    <url-pattern>/refundServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>admin_LoginServlet</servlet-name>
    <servlet-class>com.xmj.admin_LoginServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>admin_LoginServlet</servlet-name>
    <url-pattern>/admin_LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_findCusServlet</servlet-name>
    <servlet-class>com.xmj.admin_findCusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_findCusServlet</servlet-name>
    <url-pattern>/admin_findCusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCusServlet</servlet-name>
    <servlet-class>com.xmj.deleteCusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCusServlet</servlet-name>
    <url-pattern>/deleteCusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_fliAddServlet</servlet-name>
    <servlet-class>com.xmj.admin_fliAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_fliAddServlet</servlet-name>
    <url-pattern>/admin_fliAddServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>admin_findFliServlet</servlet-name>
    <servlet-class>com.xmj.admin_findFliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_findFliServlet</servlet-name>
    <url-pattern>/admin_findFliServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateFli_refundServlet</servlet-name>
    <servlet-class>com.xmj.updateFli_refundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateFli_refundServlet</servlet-name>
    <url-pattern>/updateFli_refundServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_updateFliServlet</servlet-name>
    <servlet-class>com.xmj.admin_updateFliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_updateFliServlet</servlet-name>
    <url-pattern>/admin_updateFliServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>admin_fliUpdateServlet</servlet-name>
    <servlet-class>com.xmj.admin_fliUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_fliUpdateServlet</servlet-name>
    <url-pattern>/admin_fliUpdateServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>updateCusServlet</servlet-name>
    <servlet-class>com.xmj.updateCusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCusServlet</servlet-name>
    <url-pattern>/updateCusServlet</url-pattern>
  </servlet-mapping>
</web-app>
